<phpunit bootstrap="login_system/tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>login_system/tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
      <include>
        <directory suffix=".php">login_system/src</directory>
      </include>
    </coverage>
    <logging>
        <!-- <log type="coverage-html" target="build/coverage"/> -->
        <!-- <log type="coverage-clover" target="build/logs/clover.xml"/> -->
        <!-- <log type="junit" target="build/logs/junit.xml"/> -->
    </logging>
</phpunit>
